/* Task 1: Effortless transitions when scrolling */
html {
  scroll-behavior: smooth;
}

/* Task 2: Do you know your color values? */
body {
  color: #161616;
}

a {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.card-category {
  color: #D73953;
}

.section-tagline {
  color: #D73953;
}
